


<% def coach_answer(your_message)
  # TODO: return coach answer to your_message
  if your_message == " I am going to work"
    answer = "Great!"
  elsif your_message[-1] == "?"
    answer = "Silly question, get dressed and go to work!"
  else
    answer = "I don't care, get dressed and go to work!"
  end
  return answer
end%>

<div>
  <h1>Stupide coaching</h1>
  <p> <%= @question %> </p>
  <p> <%= coach_answer(params[:question]) %> </p>

  <%= link_to "Ask a new question", ask_path %>
</div>

